[submodule "tmux/plugins/tmux-ai-helper"]
	    path = tmux/plugins/tmux-ai-helper
	        url = https://github.com/singleye/tmux-ai-helper

[submodule "tmux/plugins/tmux-sensible"]
	    path = tmux/plugins/tmux-sensible
	        url = https://github.com/tmux-plugins/tmux-sensible

[submodule "tmux/plugins/tmux-yank"]
	    path = tmux/plugins/tmux-yank
	        url = https://github.com/tmux-plugins/tmux-yank

[submodule "tmux/plugins/tpm"]
	    path = tmux/plugins/tpm
	        url = https://github.com/tmux-plugins/tpm

[submodule "tmux/plugins/vim-tmux-navigator"]
	    path = tmux/plugins/vim-tmux-navigator
	        url = https://github.com/christoomey/vim-tmux-navigator
